@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Poppins');

/*font-family: 'PT Serif', serif;
font-family: 'Poppins', sans-serif;*/

/*global*/
.container {
  width: 1170px;
  margin: 0 auto;
}
body p {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  color: #aeaeae;
  margin-bottom: 30px;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
.number-h2 {
  font-family: 'PT Serif', serif;
  font-size: 64px;
  color: #e1e1e1;
  font-weight: bold;
}
.color-h2 {
  color: #66a900;
}
/*header*/
header {
  background-image: url(../images/header-background.png);
  background-size: cover;
  background-position: center;
  height: 825px;
}
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0 );
  border: none;
  height: 100px;
  padding-top: 35px;
}
.navbar-collapse {
  float: right;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 14px;
  padding-top: 20px;
  font-family: 'PT Serif', serif;
}
header h1 {
  font-size: 50px;
  color: #fff;
  /*margin-top: 230px;*/
  margin-top: 180px;
}
header p {
  color: #fff;
}
/*about*/
#about {
  background-image: url('../images/image-shape.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 69px;
}
#about h2 {
  margin: 130px 0 48px 0;
}
#about .img-responsive {
  margin-top: 130px;
  position: absolute;
  left: 10%;
}

@media screen and (max-width: 768px) {
  /*.navbar-inverse .navbar-nav>li>a {
    float: none;
    text-align: center;
  }*/
  .navbar-inverse .navbar-toggle {
    margin-top: 30px;
  }
  .navbar-inverse .navbar-collapse {
    border-top: 2px solid #7bb800;
  }
  .navbar-inverse .navbar-toggle:focus {
    background-color: #7bb800;
  }
  .navbar-collapse {
    float: none;
    text-align: center;
  }
  .navbar-collapse.in {
    /*text-align: center;*/
  }
}